export (.onLoad)
export(aggregate.rtv)
export(aggregate.time.frame)
export(time.aggregate)
export(whichperiod)
export(cumdays.month)
export(date.to.dow)
export(date.to.doy)
export(dow.correction)
export(doy.to.date)
export(is.leap)
export(ndays.month)
export(ndays.year)
export(as.crtv)
export(crtv)
export("[.crtv")
export(crtv.character)
export(crtv.crtv)
export(crtv.Date)
export(crtv.default)
export(crtv.drtv)
export(crtv.POSIXct)
export(crtv.POSIXlt)
export(is.crtv)
export(round.crtv)
export(as.drtv)
export(drtv)
export("[.drtv")
export(drtv.character)
export(drtv.crtv)
export(drtv.Date)
export(drtv.default)
export(drtv.drtv)
export(drtv.POSIXct)
export(drtv.POSIXlt)
export(is.drtv)
export(round.drtv)
export(plot.rtv)
export(timeaxis)
export(timebox)
export(timeplot.dot)
export(timeplot.ecdf)
export(timeplot.group)
export(timeplot.line)
export(timeplot.multicycle)
export(dowstring)
export(timestring)
export(format.rtv)
export(monthstring)
export(unitstring)
export(rtv.reset)
export(as.Date.rtv)
export(as.double.rtv)
export(as.POSIXct.rtv)
export(as.POSIXlt.rtv)
export(ceiling.rtv)
export(c.rtv)
export(diff.rtv)
export(floor.rtv)
export(is.rtv)
export(length.rtv)
export(max.rtv)
export(mean.rtv)
export(min.rtv)
export(print.rtv)
export(range.rtv)
export("-.rtv")
export("+.rtv")
export(rtv.incr)
export(sample.rtv)
export(sort.rtv)
export(subset.rtv)
export(timeseq)
export(timesweep)
export(time.frame)
export(when)
export(rtv.cp)
export(rtv.tod)
export(as.data.frame.rtv)
export(timestring.format)

