export (.onLoad)
export(as.crtv)
export(as.Date.rtv)
export(as.double.rtv)
export(as.drtv)
export(as.POSIXct.rtv)
export(as.POSIXlt.rtv)
export(as.rtv)
export(crtv)
export("[.crtv")
export(crtv.character)
export(crtv.crtv)
export(crtv.Date)
export(crtv.default)
export(crtv.drtv)
export(crtv.POSIXct)
export(crtv.POSIXlt)
export(cumdays.month)
export(c.rtv)
export(date.to.dow)
export(date.to.doy)
export(default.format)
export(diff.rtv)
export(dow.correction)
export(dow.string)
export(doy.to.date)
export(drtv)
export("[.drtv")
export(drtv.character)
export(drtv.crtv)
export(drtv.Date)
export(drtv.default)
export(drtv.drtv)
export(drtv.POSIXct)
export(drtv.POSIXlt)
export(explicit.format)
export(format.rtv)
export(is.crtv)
export(is.drtv)
export(is.leap)
export(is.rtv)
export(length.rtv)
export(max.rtv)
export(mean.rtv)
export(min.rtv)
export(month.string)
export(ndays.month)
export(ndays.year)
export(print.rtv)
export(range.rtv)
export(round.crtv)
export(round.drtv)
export(rtv)
export("-.rtv")
export("+.rtv")
export(rtv.incr)
export(sample.rtv)
export(sort.rtv)
export(subset.rtv)
export(timeaxis)
export(timeseq)
export(timesweep)
export(unit.string)

